doctype html
html(lang='en')
  head
    title Hello, World!
  body
    h1 Hello, World!
    div.remark
      p Pug rocks!
    //- nav#navbar-default  
    //-   .container-fluid
    //-     h1.navbar-header My Website!

    ul
      li
        a(href='/') Home
      li
        a(href='/page-1') Page 1
      li
        a(href='/page-2') Page 2

    input.search(
      type='text'
      name='search'
      placeholder='Enter a search term...'
    )
